.loader {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.cs-text-t2 {
	font-family: var(--font-family-default);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

/* Common styles for the main layout */
.main-layout {
	font-family: Arial, sans-serif;
	padding: 20px;
}

/* Styles for authenticated state */
.main-layout.authenticated {
	background-color: #e0ffe0; /* Light green background for authenticated users */
	color: #2c662d; /* Dark green text */
}

.main-layout.authenticated .header {
	background-color: #2c662d; /* Dark green header */
	color: white;
}

.main-layout.authenticated .content {
	border: 1px solid #2c662d;
	padding: 20px;
	background-color: #ffffff;
}

/* Styles for unauthenticated state */
.main-layout.unauthenticated {
	background-color: #ffe0e0; /* Light red background for unauthenticated users */
	color: #662c2c; /* Dark red text */
}

.main-layout.unauthenticated .header {
	background-color: #662c2c; /* Dark red header */
	color: white;
}

.main-layout.unauthenticated .content {
	border: 1px solid #662c2c;
	padding: 20px;
	background-color: #ffffff;
}

/* Common header styles */
.header {
	padding: 10px;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

/* Common content styles */
.content {
	border-radius: 8px;
}

/* Styles for login component */
.login {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.login .field {
	margin-bottom: 20px;
	text-align: left;
}

.login .field label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

.login .field input,
.login .field .p-password {
	width: 100%;
	padding: 10px;
	margin-bottom: 8px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.login .field input.invalid,
.login .field .p-password.invalid {
	border-color: #ff4d4f; /* Red border for invalid inputs */
}

.login .field small.invalid {
	color: #ff4d4f; /* Red text for error messages */
	display: block;
	margin-top: 5px;
}

.login .button-primary {
	width: 100%;
	padding: 10px;
	background-color: #2c662d; /* Green button */
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.login .button-primary:disabled {
	background-color: #9c9c9c; /* Grey button when disabled */
	cursor: not-allowed;
}

.login .button-primary:hover:not(:disabled) {
	background-color: #1e471d; /* Darker green button on hover */
}
