.loader {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.text-h2 {
	font-size: 24px;
	font-weight: bold;
	/* Additional styling properties can be added as needed */
}

.text-t2 {
	font-family: var(--font-family-default);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.button-primary {
	width: 100%;
	padding: 10px;
	background-color: #2c662d; /* Green button */
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.button-primary:disabled {
	background-color: #9c9c9c; /* Grey button when disabled */
	cursor: not-allowed;
}
.button-primary:hover:not(:disabled) {
	background-color: #1e471d; /* Darker green button on hover */
}

.button-secondary {
	width: 100%;
	padding: 10px;
	background-color: blueviolet; /* blueviolet button */
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
.button-secondary:disabled {
	background-color: #9c9c9c; /* Grey button when disabled */
	cursor: not-allowed;
}
.button-secondary:hover:not(:disabled) {
	background-color: rgb(116, 12, 214); /* Darker blueviolet button on hover */
}
